Options +FollowSymlinks
RewriteEngine On

# Hack for wiki-authentication breaking doxygen search
RewriteRule ^search.php$        search.php                      [QSA,L]

# Since doxygen generates simple href links in the html, redirection
# is necessary so that all doxygen file access is wiki authenticated.
# Do not redirect the debugging index page.
RewriteRule ^index.test.php$    index.test.php                  [QSA,L]
RewriteRule ^(.*)$              index.php?spec=$1               [QSA,L]
