data.black-holes.org {
    root * /usr/share/caddy
    file_server

    # Enable gzip compression
    encode gzip

    # Rewrite /catalog.json to /public_catalog.json
    rewrite /catalog.json /public_catalog.json

    # Rewrite /simulations.json to /public_simulations.json
    rewrite /simulations.json /public_simulations.json

    # Serve /public_catalog.json with gzip
    handle /public_catalog.json {
        file_server
        encode gzip
    }

    # Serve /public_simulations.json with gzip
    handle /public_simulations.json {
        file_server
        encode gzip
    }

    # Redirect / to /simulations/index.html
    redir / /simulations/index.html permanent

    # Redirect /waveforms/docs.html to /waveforms/documentation.html
    redir /waveforms/docs.html /waveforms/documentation.html permanent

    # Redirect /waveforms/simulation-bibtex-keys.bib to /waveforms/references.bib
    redir /waveforms/simulation-bibtex-keys.bib /waveforms/references.bib permanent

    # Redirect /surrogates/index.html to Zenodo DOI
    redir /surrogates/index.html https://doi.org/10.5281/zenodo.1215752 permanent

    # Redirect /SXS:<id> to DOI
    @sxs path_regexp sxs ^/SXS:(.*)
    redir @sxs https://doi.org/10.26138/SXS:{http.regexp.sxs.1} temporary

    # Redirect /waveforms/ to /waveforms/index.html
    redir /waveforms/ /waveforms/index.html permanent

    # Serve /waveforms/extcce_catalog.html
    handle /waveforms/extcce_catalog.html {
        file_server
    }

    # Serve /css and /js files
    handle_path /css/* {
        file_server
    }
    handle_path /js/* {
        file_server
    }

    # Serve images
    handle_path /images/* {
        file_server
    }

    # Default 404 page
    handle_errors {
        @404 {
            expression {http.error.status_code} == 404
        }
        rewrite @404 /default/404.html
        file_server
    }
}
