backup

# Auxiliary files for latex alignment
wiki/document_root/data/media/latex/*depth
wiki/document_root/data/media/latex/*png

# Random mysql stuff
ibdata1
ibtmp1
ib_buffer_pool
ib_logfile0
ib_logfile1

