<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://www.black-holes.org/libraries/gantry/css/grid-responsive.css" type="text/css" />
        <link rel="stylesheet" href="https://www.black-holes.org/templates/gantry/css-compiled/master-b303c1e5744d1b4f618d61af7361442b.css" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,regular,700&amp;subset=latin,latin-ext" type="text/css" />
        <link rel="stylesheet" href="https://www.black-holes.org/templates/gantry/css/gantry-custom.css" type="text/css" />
        <link rel="stylesheet" href="https://www.black-holes.org/github-button.css" type="text/css" />
        <style type="text/css">
         h1, h2 { font-family: 'Oswald', 'Helvetica', arial, serif; }
         .container {
             width: 100%;
             display: flex;
             justify-content: space-between;
         }
        </style>
    </head>
    <body  class="logo-type-custom headerstyle-light font-family-oswald font-size-is-default menu-type-dropdownmenu
                  layout-mode-responsive col12 option-com-content menu-home sxshome-">
        <div id="rt-top-surround">
            <div id="rt-header">
            </div>
        </div>
        <div class="rt-container" style="max-width: 680px;">
            <div class="component-content" style="padding: 50px;">
	        <h1>Restricted access</h1>
                <br/>
	        <h2>This section of the site is for members only.</h2>
                <p>
                    {{ message|safe }}
                </p>

                <hr style="height:3px; background: #999">

                <div class="container">
                    <a href="https://wiki.black-holes.org/" class="github_button"
                       style="padding-left: 16px; text-align: center; background-color:rgb(213, 91, 47)">
                        Sign in with a password
                    </a>

                    <a href="{{ url }}" class="github_button">
                        <span class="octocat"></span>
                        Sign in with GitHub
                    </a>
                </div>
            </div>
    </body>
</html>
