.github_button {
    /* don't inherit any styling */
    all: initial;
    * {
      all: unset;
    }

    bottom: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 46px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    top: 0px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 180px 17px;
    transform-origin: 180px 17px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background-color: #444;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 10px 16px;
    padding-left: 61px;
    font-size: 18px;
}
.github_button:hover {
    background-color: #333;
    color: #fff;
}

.octocat {
    line-height: 45px;
    width: 45px;
    font-size: 32.4px;
    height: 44px;
    position: absolute;
    right: 326px;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    perspective-origin: 16px 16px;
    transform-origin: 16px 16px;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    font-size: 32.4px;
    font-family: FontAwesome;
    outline: rgb(255, 255, 255) none 0px;
}

.octocat:before {
    content: "\f09b";
    height: auto;
    width: auto;
}
